{% extends "base.html" %}

{% block content %}
<style>
    form{
        text-align:left;
    }

    /* Center the button */
    .btn-center {
        display: flex;
        justify-content: center;
    }

    .btn-center .btn-primary {
        text-align: center;
    }
    p{
        text-align: center;
        padding:10px;
    }
</style>
 
<div  class="container">
    <h3><strong>Signup Form</strong></h3>
    <form action="" method="POST">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <small>{{ field.errors }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <div class="btn-center">
            <button class="btn btn-primary">Register</button>
        </div>
        <p>Already have an account? <a href="{% url 'signin' %}">Login</a></p>
    </form>
</div>

{% endblock content %}
